<ion-header collapse="condense">
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content align="center" class="bkgrd">
  <div class="about">
    <p><br>App created by Kelly Neiling<br>
    <br>
    Email neilingkelly@gmail.com with questions or issues.<br>
    <br>
    <br>
    September 25, 2022<br>
    Ohio, U.S.A.<br>
    <br>
    <br>
    <br>
    <br>
    </p>
  </div>
  <div>
    <img src="assets\images\calculator.jpg" width="100px" height="175px">
  </div>
  <a href="/home" class="link">Return Home</a>
</ion-content>
