.header {
    --ion-background-color: #755eac;
    height: 100px;
}

.bkgrd {
    --ion-background-color: #523697;
}

.about {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: orange;
}

.link {
    color: yellow;
}