// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

:root {
  
  .header {
    --ion-background-color: #755eac;
}

  .bkgrd {
    --ion-background-color: #523697;
}
  
  body[color-theme="purple"] {
    .header {
      --ion-background-color: #755eac;
    }

    .bkgrd {
      --ion-background-color: #523697;
    }

    --ion-background-color: #523697;
    --ion-background-color-rgb: 82,54,151;
  
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;
  
    --ion-color-step-50: #5b409c;
    --ion-color-step-100: #634aa1;
    --ion-color-step-150: #6c54a7;
    --ion-color-step-200: #755eac;
    --ion-color-step-250: #7d68b1;
    --ion-color-step-300: #8672b6;
    --ion-color-step-350: #8f7cbb;
    --ion-color-step-400: #9786c1;
    --ion-color-step-450: #a090c6;
    --ion-color-step-500: #a99bcb;
    --ion-color-step-550: #b1a5d0;
    --ion-color-step-600: #baafd5;
    --ion-color-step-650: #c2b9db;
    --ion-color-step-700: #cbc3e0;
    --ion-color-step-750: #d4cde5;
    --ion-color-step-800: #dcd7ea;
    --ion-color-step-850: #e5e1ef;
    --ion-color-step-900: #eeebf5;
    --ion-color-step-950: #f6f5fa;
  }

  body[color-theme="teal"] {

    .header {
      --ion-background-color: #2dc4cd;
    }

    .bkgrd {
      --ion-background-color: #249da4;
    }
  
  --ion-background-color: #249da4;
	--ion-background-color-rgb: 36,157,164;

	--ion-text-color: #000000;
	--ion-text-color-rgb: 0,0,0;

	--ion-color-step-50: #2bbac3;
	--ion-color-step-100: #29b0b9;
	--ion-color-step-150: #26a7ae;
	--ion-color-step-200: #249da4;
	--ion-color-step-250: #22939a;
	--ion-color-step-300: #1f8990;
	--ion-color-step-350: #1d7f85;
	--ion-color-step-400: #1b767b;
	--ion-color-step-450: #196c71;
	--ion-color-step-500: #176267;
	--ion-color-step-550: #14585c;
	--ion-color-step-600: #124e52;
	--ion-color-step-650: #104548;
	--ion-color-step-700: #0e3b3e;
	--ion-color-step-750: #0b3133;
	--ion-color-step-800: #092729;
	--ion-color-step-850: #071d1f;
	--ion-color-step-900: #041414;
	--ion-color-step-950: #020a0a;
  }

  body[color-theme="fuschia"] {
    .header {
      --ion-background-color: #CD2D9F;
    }

    .bkgrd {
      --ion-background-color: #a4247f;
    }

  --ion-background-color: #CD2D9F;
	--ion-background-color-rgb: 205,45,159;

	--ion-text-color: #000000;
	--ion-text-color-rgb: 0,0,0;

	--ion-color-step-50: #c32b97;
	--ion-color-step-100: #b9298f;
	--ion-color-step-150: #ae2687;
	--ion-color-step-200: #a4247f;
	--ion-color-step-250: #9a2277;
	--ion-color-step-300: #901f6f;
	--ion-color-step-350: #851d67;
	--ion-color-step-400: #7b1b5f;
	--ion-color-step-450: #711957;
	--ion-color-step-500: #671750;
	--ion-color-step-550: #5c1448;
	--ion-color-step-600: #521240;
	--ion-color-step-650: #481038;
	--ion-color-step-700: #3e0e30;
	--ion-color-step-750: #330b28;
	--ion-color-step-800: #290920;
	--ion-color-step-850: #1f0718;
	--ion-color-step-900: #140410;
	--ion-color-step-950: #0a0208;
  }


    ion-input {
      font-size: 68px;
    }
}
