<ion-header collapse="condense">
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bkgrd">
  <div>
    <ion-item>
      <ion-input class="input" [(ngModel)]="display" type="text" placeholder="" align="right"></ion-input>
    </ion-item>
  </div>
  <div align="center">
    <br>
    <br>
    <a href="/home" class="link">Return Home</a>
  </div>
</ion-content>
